@
CORS_ORIGIN=
PORT=

MONGODB_URI=
ACCESS_TOKEN_CODE=
ACCESS_TOKEN_DURATION=

REFERESH_TOKEN_CODE=
REFERESH_TOKEN_DURATION=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=

GEMINI_API_KEY=

NODE_ENV=

RESEND_API_KEY=
FRONTEND_URL=


